*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Large Screens */

@media only screen and (min-width: 800px){    
    .container{
        height: 100vh;
        overflow-y: hidden;
    }
    
    h1{
        padding: 8px 10px;
    }
    
    main{
        height: 100vh;
        padding: 10px 10px 70px 10px;
        column-width: 325px; 
        column-fill: auto; 
        overflow-y: hidden;
        overflow-x: scroll;     
    }

    .content-block{
        max-width: 600px;
        break-inside: avoid;
        margin: 0 0 10px 0;
    }

    footer{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        gap: 25px;
        
    }
}

/* Small Screens */

@media only screen and (max-width: 800px){
    .container{
        height: fit-content;
    }
    
    main{
        margin-top: 50px;
        align-items: center;
        padding: 3px;
    }

    h1{
        width: 100vw;
        position: fixed;
        top: 0;
        padding: 8px 0;
        text-align: center;
        background-color: rgb(50, 50, 50);
    }

    .content-block{
        width: 96%;
        margin:10px auto;
    }

    footer{
        text-align: center;
        word-wrap: normal;
    }
}


/* Media Shared Styling*/

.container{
    width: 100%;
    background-color: rgb(50, 50, 50);
    position: relative;
}

header{
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid whitesmoke;
}

h1{
    color: whitesmoke;
    font-size: 32px;
}

h1>span{
    font-size: 20px;
}

main{
    width: 100%;
}

.content-block{
    display: flex;
    flex-direction: column;
}

.content-block-title{
    width: 100%;
    height: fit-content;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    padding: 2px;
    cursor: default;
}

.content-block-data{
    width: 100%;
    height: fit-content;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    cursor: default;
}

.content-block-info{
    width: 100%;
    height: fit-content;
    color: lightgray;
    border: 1px solid whitesmoke;
    border-top: none;
    padding: 2px;
    display: none;
}

.data-label{
    color: gray;
}

.data-row{
    display: flex;
    justify-content: space-between;
}

footer{
    border-top: 1px solid whitesmoke;
    color: whitesmoke
}

footer>p>a{
    color: whitesmoke;
}

.row-underline{
    border-bottom: 1px solid slategray;
}

.data-row-no-label{
    color: gray;
    text-align: right;
}